.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: #4e5fa3;
    border-radius: 2px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    padding-top: 5px;
    right: 10px;
    height: 65px;
    width: 100px;
    color: white;
}

.banner_2 {
    height: 200px;
    margin: 0px -10px 10px;
    background-color: #fffbbd;
    border-radius: 2px;
}

.banner_2 h2{
    color: black;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

body{
    background-color : #afb4c9;
}

