.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: rgb(38, 43, 61);
    border-radius: 2px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    padding-top: 5px;
    right: 10px;
    height: 65px;
    width: 100px;
    color: white;
}

.banner_2 {
    height: 200px;
    margin: 0px -10px 10px;
    background-color: #fffbbd;
    border-radius: 2px;
}

.banner_2 h2{
    color: black;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

body{
    background-color : rgb(66, 75, 107);
}

body {
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue";
    color: rgb(66, 75, 107);
}