.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: #322f54;
    border-radius: 2px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    padding-top: 5px;
    right: 10px;
    height: 65px;
    width: 100px;
    color: white;
}